<section class="create-category">
    <div class="container">
        <h1 id="title">Редактирование дохода/расхода</h1>
        <form class="form">
            <div class="form-input">
                <label for="category-type" class="form-label d-none"></label>
                <input type="text" class="form-control" id="category-type" placeholder="Тип...">
                <label for="category-name" class="form-label d-none"></label>
                <input type="text" class="form-control" id="category-name" placeholder="Категория...">
                <label for="category-amount" class="form-label d-none"></label>
                <input type="text" class="form-control" id="category-amount" placeholder="Сумма в $...">
                <label for="category-date" class="form-label d-none"></label>
                <input type="text" class="form-control" id="category-date" placeholder="Дата...">
                <label for="category-comment" class="form-label d-none"></label>
                <input type="text" class="form-control" id="category-comment" placeholder="Комментарий...">
            </div>
            <a href="javascript:void(0)" id="button-save" class="btn btn-success me-2">Сохранить</a>
            <a href="javascript:void(0)" id="button-cancel" class="btn btn-danger">Отмена</a>
        </form>
    </div>
</section>
