<section class="income">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn btn-success" id="button-confirm" data-bs-dismiss="modal">Да,
                        удалить
                    </button>
                    <button type="button" class="btn btn-danger" id="button-cancel" data-bs-dismiss="modal">Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 id="title">Доходы</h1>
        <div class="cards d-flex flex-wrap" id="cards"></div>
    </div>
</section>